#container {
    width: 480px;
    height: 480px;
    border: 3px solid black;
    position: absolute;
    box-sizing: content-box;
    left: 730px;
    top: 150px;
    
    
    
}

* {

    box-sizing: border-box;
    
}



#black {

    width: 90px;
    height: 50px;
    border: 3px solid black;
    position: absolute;
    left: 900px;
    top: 50px
    
}

#rbg {

    width: 90px;
    height: 50px;
    border: 3px solid black;
    position: absolute;
    left: 800px;
    top: 50px
    
}

#reset {

    width: 90px;
    height: 50px;
    border: 3px solid black;
    position: absolute;
    left: 1000px;
    top: 50px


}


#resetButton {

    width: 90px;
    height: 50px;
    border: 3px solid black;
    position: absolute;
    left: 1100px;
    top: 50px


}

